#export {
    top: 120px; /* Adjust this value for more or less space */
}

a.leaflet-control-zoom-in {
    background-image: url("https://gis.vnode.digital/media/icon/zoom-in.png");
    background-repeat: no-repeat;
    background-size: contain;
} 

a.leaflet-control-zoom-out {
    background-image: url("https://gis.vnode.digital/media/icon/zoom-out.png");
    background-repeat: no-repeat;
    background-size: contain;
}

a.leaflet-draw-draw-polyline {
    background-image: url("https://gis.vnode.digital/media/icon/polyline.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: 0px 0px;
}

a.leaflet-draw-draw-polygon {
    background-image: url("https://gis.vnode.digital/media/icon/polygon.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: 0px 0px;
}

a.leaflet-draw-draw-rectangle {
    background-image: url("https://gis.vnode.digital/media/icon/rectangle.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: 0px 0px;
}

a.leaflet-draw-draw-circle {
    background-image: url("https://gis.vnode.digital/media/icon/circle.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
    background-position: 0px 0px;
}

a.leaflet-draw-draw-marker {
    background-image: url("https://gis.vnode.digital/media/icon/marker.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: 0px 0px;
}

a.leaflet-draw-draw-circlemarker {
    background-image: url("https://gis.vnode.digital/media/icon/circle-marker.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker {
    background-position: 0px 0px;
}

a.leaflet-draw-edit-edit.leaflet-disabled {
    background-image: url("https://gis.vnode.digital/media/icon/edit.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
a.leaflet-draw-edit-edit {
    background-image: url("https://gis.vnode.digital/media/icon/edit.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: 0px 0px;
}
.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-edit {
    background-position: 0px 0px;
}

a.leaflet-draw-edit-remove.leaflet-disabled {
    background-image: url("https://gis.vnode.digital/media/icon/delete.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}
a.leaflet-draw-edit-remove {
    background-image: url("https://gis.vnode.digital/media/icon/delete.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: 0px 0px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-remove {
    background-position: 0px -1px;
}